# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
/web-app/WEB-INF/classes
/gateDomain/web-app/WEB-INF/classes
/gateManager/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/gateDomain/logs
/gateManager/logs
/gateDomain/test/reports
/gateManager/test/reports
/gateDomain/stacktrace.log
/gateManager/stacktrace.log

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml
/gateDomain/plugin.xml
/gateManager/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins
/gateDomain/plugins
/gateDomain/web-app/plugins
/gateManager/plugins
/gateManager/web-app/plugins

# "temporary" build files
/target
/gateDomain/target
/gateManager/target

# Out
/gateDomain/out
/gateManager/out

/gateDomain/.classpath
/gateManager/.classpath

/gateDomain/.project
/gateManager/.project

/gateDomain/.idea
/gateManager/.idea
